* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;

}

.container{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* Header */
.header-main {
    height: 159px;
}

.choose {
    color: #484848;
    text-align: center;
    font-family: Arimo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 155.556% */
    text-transform: uppercase;
}

.plan {
    color: #484848;
    text-align: center;
    font-family: Arimo;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 93.333% */
    text-transform: uppercase;
}

.header-fir {
    background-color: #89C331;
    height: 83px;
}

.header-sec {
    background-color: #F04A56;
    height: 83px;
}

.header-thir {
    background-color: #20807C;
    height: 83px;
}

.style-header-fir {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 116.667% */
    text-transform: uppercase;
}

.style-header-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Arimo;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 93.333% */
    text-transform: uppercase;
}

.style-header-thir {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 116.667% */
    text-transform: uppercase;
}

.price {
    width: 213px;
    height: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-style {
    position: relative;
    color: #484848;
    font-family: Arimo;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 46.667% */
    text-transform: uppercase;
}

.cent {
    position: absolute;
    top: -25px;
    color: #484848;
    text-align: center;
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 116.667% */
    text-transform: uppercase;
}

.month {
    width: 136px;
    position: absolute;
    left: 80px;
    color: #484848;
    font-family: Arimo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
    text-transform: uppercase;
}

/* Main */
.first{
    tbody th {
    padding: 22px 0;
}

tbody tr:nth-child(odd) {
    background-color: #F2F2F2;
}

tbody tr:nth-child(even) {
    background-color: #E3E3E3;
    
}
}

.left-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}

.text-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;


    color: #484848;
    text-align: center;
    font-family: Arimo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    text-transform: uppercase;
}

.left-main-text {
    color: #484848;
    text-align: center;
    font-family: Arimo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
    text-transform: uppercase;
}

/* Footer */
tfoot tr {
    height: 112px;
}

.footer-button {
    padding: 20px 45px;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    font-family: Arimo;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    /* 100% */
    text-transform: uppercase;

}

.col1 {
    background-color: #484848;
    border-bottom: 5px solid #404040;
}

.col2 {
    background-color: #89C331;
    border-bottom: 5px solid #79B027;

}

.col3 {
    background-color: #F04A56;
    border-bottom: 5px solid #DF3A46;

}

.col4 {
    background-color: #20807C;
    border-bottom: 5px solid #16736F;

}


.second{
    width: 1143px;
    height: 612px;
border: 20px solid #3A4965;
 thead th{
width: 160px;
border-bottom: 10px solid #3A4965;
}

    
    thead th:nth-child(even) {
        background-color: #E3E3E3;
        
    }


    tbody th:nth-child(even) {
        background-color: #E3E3E3;
        
    }


}

